.container {
	margin: 5px;

	button {
		padding: 20px 40px;

		background-color: rgba(255, 200, 94, 1);
		border-radius: 30px;

		color: rgba(255, 255, 255, 1);
		font-weight: 700;
		line-height: 17px;

		img {
			margin: 2px 0 0 12px;
		}
	}
}
