.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 10px 0;

	.table {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		max-width: 1020px;
	}

	.description {
		max-width: 1020px;
		margin: 16px auto;
		line-height: 150%;
		color: rgba(63, 78, 101, 1);
	}
}
