.container {
	margin: 3px;
	.big_size {
		padding: 20px 40px;
		font-weight: 700;
	}

	.mini_size {
		padding: 10px 20px;
		font-weight: 600;
	}

	button {
		padding: 20px 40px;
		background-color: rgba(255, 200, 94, 1);
		border-radius: 30px;

		color: rgba(255, 255, 255, 1);
		line-height: 150%;

		img {
			margin: 2px 0 0 10px;
		}
	}
}
