.container {
	.big_size {
		width: 195px;
		height: 60px;
	}

	.mini_size {
		width: 153px;
		height: 45px;
	}

	button {
		width: 195px;
		height: 60px;

		background-color: rgba(255, 200, 94, 1);
		border-radius: 30px;

		color: rgba(255, 255, 255, 1);
		font-weight: 700;
		line-height: 17px;

		img {
			margin: 2px 0 0 12px;
		}
	}
}
