.logo {
	display: flex;
	.logo_sultan {
		position: relative;

		.logo_sultan_eye_left {
			position: absolute;
			top: 35px;
			left: 14px;
		}
		.logo_sultan_eye_right {
			position: absolute;
			top: 35px;
			left: 28px;
		}
	}
	.logo_text {
		align-self: center;

		margin: 10px 0 0 5px;
		.logo_text_sub {
			margin-right: 1px;
		}
	}
}