.form {
	margin-bottom: 30px;

	.form_title {
		font-weight: 300;
		line-height: 150%;
		color: rgba(63, 78, 101, 1);

		margin-bottom: 16px;

		.b {
			color: rgba(17, 17, 17, 1);
		}
	}
	.inputs {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		.input {
			text-align: center;
			padding: 4px 14px;
			width: 100px;
			height: 23px;
			background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
			border-radius: 1000px;
		}
		::placeholder {
			font-weight: 300;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			color: rgba(63, 78, 101, 1);
		}

		i {
			margin: 0 10px 0 9px;
		}
	}
}
