// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.opened {
	position: relative;
}

.app {
	background-color: #fff;
	max-width: 100%;
	height: 100%;

	font-family: "Inter", sans-serif;
	font-size: 14px;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}
