.header {
	flex: 0 0 auto;

	.content {
		max-width: 1366px;
		margin: 0 auto;

		.flex_container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

			.border_container_top {
				width: 100%;
				min-height: 61px;
				border-bottom: 1px solid rgba(63, 78, 101, 0.2);

				.container_top {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;

					min-height: 61px;

					.info {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;

						.address {
							position: relative;

							margin: 3px -15px 3px 25px;
							padding-right: 30px;
							border-right: 1px dashed rgba(0, 0, 0, 0.1);

							.address_icon {
								position: absolute;
								left: -25px;
								top: 10px;

								width: 13.33px;
								margin: 2px;
							}
							.address_info {
								font-weight: 600;
								line-height: 18px;
								color: rgba(17, 17, 17, 1);

								margin: 3px;
							}
							.address_details {
								font-size: 12px;
								font-weight: 300;
								line-height: 16px;

								color: rgba(63, 78, 101, 1);

								margin: 3px;
							}
						}

						.email {
							position: relative;

							margin-left: 70px;

							.email_icon {
								position: absolute;
								left: -30px;
								top: 12px;

								width: 16.6px;
								margin: 2px;
							}
							.email_info {
								font-weight: 600;
								line-height: 18px;

								color: rgba(17, 17, 17, 1);
								margin: 3px;
							}
							.email_details {
								font-size: 12px;
								font-weight: 300;
								line-height: 16px;

								color: rgba(63, 78, 101, 1);
								margin: 3px;
							}
						}
					}
					.mini_info {
						display: none;
					}
					.navBar {
						display: flex;
						flex-wrap: wrap;

						.navBar_item {
							line-height: 21px;
							color: rgba(63, 78, 101, 1);
							border-right: 1px dashed rgba(0, 0, 0, 0.1);

							padding-right: 20px;
							margin: 3px 20px 3px 3px;
						}

						.navBar_item_last {
							line-height: 21px;
							color: rgba(63, 78, 101, 1);
							margin: 3px;
						}
					}
					.mini_navBar {
						display: none;
					}
				}

				@media screen and (max-width: 320px) {
					.container_top {
						max-width: 290px;
						margin: 0 auto;

						.info {
							display: none;
						}

						.mini_info {
							width: 320px;
							display: flex;
							justify-content: space-between;
							align-items: center;

							.mini_info_icon {
								background-color: rgba(255, 200, 94, 1);
								border-radius: 50%;
								width: 32px;
								height: 32px;

								display: flex;
								justify-content: center;
								align-items: center;
							}
						}

						.navBar {
							display: none;
						}
					}
				}
			}
			.border_container_options {
				width: 100%;
				border-bottom: 1px solid rgba(63, 78, 101, 0.2);

				.container_options {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;

					min-height: 107px;

					.short_info {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.operator {
							position: relative;

							img {
								border-radius: 35px;
							}
							.online {
								position: absolute;
								top: 25px;
								right: 7px;

								width: 10px;
								height: 10px;
								background-color: rgba(31, 216, 93, 1);
								border: 2px solid rgba(240, 246, 250, 1);
								border-radius: 50%;
							}
						}
					}
				}

				.container_options_mobile {
					display: none;
				}

				@media screen and (max-width: 320px) {
					.container_options {
						display: none;
					}

					.container_options_mobile {
						display: block;
						max-width: 290px;
						margin: 0 auto;

						.flex_mobile {
							display: flex;
							align-items: center;

							min-height: 40px;

							.catalog_container {
								border-right: 1px dashed rgba(63, 78, 101, 0.2);
								flex-basis: 50%;
								text-align: center;

								.item {
									margin: 3px;
									font-weight: 600;
									font-size: 12px;
									line-height: 15px;
									color: rgba(63, 78, 101, 1);
								}
							}
							.search_container {
								flex-basis: 50%;
								text-align: center;

								.item {
									margin: 3px;
									font-weight: 600;
									font-size: 12px;
									line-height: 15px;
									color: rgba(63, 78, 101, 1);
								}
							}
						}
					}
				}
			}
			.border {
				padding: 0 25px;
				border-left: 1px dashed rgba(0, 0, 0, 0.1);
				border-right: 1px dashed rgba(0, 0, 0, 0.1);
			}
		}
	}
}
