.header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 0 0 auto;

	.border_container_top {
		width: 100%;
		max-height: 61px;
		border-bottom: 1px solid rgba(63, 78, 101, 0.2);

		.container_top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			min-height: 61px;
			max-width: 1366px;
			margin: 0 auto;

			.info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				.address {
					position: relative;

					margin-left: 25px;
					padding-right: 30px;
					margin-right: -15px;
					border-right: 1px dashed rgba(0, 0, 0, 0.1);

					.address_icon {
						position: absolute;
						left: -25px;
						top: 10px;

						width: 13.33px;
					}
					.address_info {
						font-weight: 600;
						line-height: 18px;
						color: rgba(17, 17, 17, 1);
					}
					.address_details {
						font-size: 12px;
						font-weight: 300;
						line-height: 16px;

						color: rgba(63, 78, 101, 1);
					}
				}

				.email {
					position: relative;

					margin-left: 70px;

					.email_icon {
						position: absolute;
						left: -30px;
						top: 12px;

						width: 16.6px;
					}
					.email_info {
						font-weight: 600;
						line-height: 18px;

						color: rgba(17, 17, 17, 1);
					}
					.email_details {
						font-size: 12px;
						font-weight: 300;
						line-height: 16px;

						color: rgba(63, 78, 101, 1);
					}
				}
			}
			.navBar {
				.navBar_item {
					line-height: 21px;
					color: rgba(63, 78, 101, 1);
					border-right: 1px dashed rgba(0, 0, 0, 0.1);

					padding-right: 20px;
					margin: 0 20px 0 0;
				}

				.navBar_item_last {
					line-height: 21px;
					color: rgba(63, 78, 101, 1);
				}
			}
		}
	}
	.border_container_options {
		width: 100%;
		min-height: 107px;
		border-bottom: 1px solid rgba(63, 78, 101, 0.2);

		.container_options {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			min-height: 107px;
			max-width: 1366px;
			margin: 0 auto;

			.short_info {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.operator {
					position: relative;

					img {
						border-radius: 35px;
					}
					.online {
						position: absolute;
						top: 25px;
						right: 7px;

						width: 10px;
						height: 10px;
						background-color: rgba(31, 216, 93, 1);
						border: 2px solid rgba(240, 246, 250, 1);
						border-radius: 50%;
					}
				}
			}
		}
	}
	.border {
		padding: 0 25px;
		border-left: 1px dashed rgba(0, 0, 0, 0.1);
		border-right: 1px dashed rgba(0, 0, 0, 0.1);
	}
}
