.text_color_dark {
	color: rgba(63, 78, 101, 1);
}

.text_color_white {
	color: rgba(255, 255, 255, 1);
}

.text_align_left {
	text-align: left;
}

.text_align_right {
	text-align: right;
}

.info_text {
	margin: 3px 10px 3px 3px;

	.phone_number {
		font-weight: 600;
		line-height: 150%;
		margin-bottom: 5px;
	}
	.time {
		font-weight: 300;
		font-size: 12px;
		line-height: 150%;
		margin-bottom: 5px;
	}
	.order {
		font-size: 10px;
		line-height: 150%;
		letter-spacing: 0.02em;
		text-decoration: underline;
	}
}
