.text {
	color: rgba(255, 255, 255, 1);
	line-height: 150%;
}

.section_up {
	margin-bottom: 40px;
}

.footer {
	flex: 0 0 auto;

	background-color: rgba(63, 78, 101, 1);

	.content {
		max-width: 1366px;
		min-height: 500px;
		margin: 0 auto;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			min-height: 500px;

			.about {
				display: flex;
				flex-direction: column;
				max-width: 320px;
				margin: 3px;

				.description {
					font-size: 16px;
					margin: 15px 3px 45px 1px;
				}
				.appeal {
					font-size: 12px;
					margin: 0 3px 14px 1px;
				}
				.input_container {
					max-width: 230px;
				}
			}

			.section_title {
				font-weight: 600;
				font-size: 20px;

				margin: 3px 3px 25px 3px;
			}
			.section_item {
				margin: 3px 3px 20px 3px;
			}

			.connection_text {
				margin: 20px 3px 15px 3px;
			}
			.connection_icons {
				display: flex;
				margin: 3px;

				.connection_whatsapp {
					margin-right: 10px;
				}
			}

			.email {
				margin: 25px 3px;

				.email_info {
					font-weight: 600;
				}
				.email_details {
					font-weight: 300;
					font-size: 12px;
				}
			}

			.logo_visa {
				margin-right: 5px;
			}

			.content_mobile {
				display: none;
			}

			@media screen and (max-width: 320px) {
				.about,
				.text,
				.section_title,
				.section_item,
				.section_up,
				.connection_text,
				.connection_icons,
				.email,
				.logo_visa {
					display: none;
				}

				.content_mobile {
					display: block;
					max-width: 290px;
					min-height: 500px;

					margin: 20px auto;

					font-size: 12px;
					line-height: 150%;
					color: #ffffff;

					.top_footer_mobile {
						display: flex;
						justify-content: space-between;
						margin-bottom: 15px;
					}
					.appeal {
						margin: 15px 0;
					}
					.input_container {
						position: relative;
						margin-bottom: 30px;

						.input {
							padding: 20px 120px 20px 20px;
							background-color: rgba(237, 237, 237, 1);
							border-radius: 36px;
						}

						::placeholder {
							color: rgba(92, 99, 112, 0.5);
						}

						.button {
							position: absolute;
							top: 8px;
							right: 10px;

							width: 40px;
							height: 40px;
							background-color: rgba(255, 200, 94, 1);

							border-radius: 50%;
							.icon {
								width: 15px;
							}
						}
					}
					.container_section {
						display: flex;
						justify-content: space-between;

						.section_up_mobile {
							margin-bottom: 40px;
						}
						.text_mobile {
							color: rgba(255, 255, 255, 1);
							line-height: 150%;
						}
						.section_title_mobile {
							font-weight: 600;
							font-size: 20px;

							margin: 3px 3px 25px 3px;
						}
						.section_item_mobile {
							font-size: 12px;
							font-weight: 300;
							margin: 3px 3px 20px 3px;
						}
					}
					.container_connection {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.text_mobile {
							flex-basis: 60%;
							color: rgba(255, 255, 255, 1);
							line-height: 150%;

							margin: 3px 3px 25px 3px;

							.section_title_mobile {
								font-weight: 600;
								font-size: 20px;

								margin: 3px 3px 25px 3px;
							}

							.email_mobile {
								margin: 25px 3px;

								.email_info_mobile {
									font-weight: 600;
								}
								.email_details_mobile {
									font-weight: 300;
									font-size: 12px;
								}
							}

							.logo_visa_mobile {
								margin-right: 5px;
							}
						}

						.section_up_mobile {
							flex-basis: 40%;
							margin: 10% 0 40% 0;

							.connection_text_mobile {
								margin: 20px 3px 15px 3px;
							}
							.connection_icons_mobile {
								display: flex;
								margin: 3px;

								.connection_whatsapp_mobile {
									margin-right: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
