.container {
	position: relative;

	.input {
		padding: 20px 40px;
		background-color: rgba(237, 237, 237, 1);
		border-radius: 36px;
	}

	::placeholder {
		color: rgba(92, 99, 112, 0.5);
	}

	.button {
		position: absolute;
		top: 8px;
		right: 10px;

		width: 40px;
		height: 40px;
		background-color: rgba(255, 200, 94, 1);

		border-radius: 50%;
		.icon {
			width: 15px;
		}
	}
}
